body{
    background: black;
    color: white;
    font-family: 'Rajdhani', sans-serif;
}
.container{
    width: 40%;
    margin:50px auto;
    box-shadow: 0 0 0.1em 0.1em white;
    border-radius: 10px;
    padding: 5em;
}
form{
    width: 90%;
    margin: auto;
    padding: 2em;
    border-radius: 5px;
    box-shadow: 0 0 0.1em 0.1em royalblue;
}
.button{
    background: none;
    color: white;
    margin: 20px auto;
    width: 100%;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 0.1em 0.1em royalblue;
    padding: 1em;
    font-size: 1em;
    transition: 300ms;
}
.button:hover{
    box-shadow: 0 0 0.3em 0.1em purple;
}
.datePicker{
    margin-top: 2em;
    border-radius: 5px ;
    border: none;
    margin-left: 33%;
    padding: 0.5em;
    box-shadow: 0 0 0.1em 0.1em purple;
    width: 50%;
}
#examDuration{
    margin-top: 2em;
    border-radius: 5px ;
    border: none;
    margin-left: 33%;
    padding: 0.5em;
    box-shadow: 0 0 0.1em 0.1em purple;
    width: 45%;
}
.term{
    margin-left: 60%;
}