body{
    font-family: 'Rajdhani', sans-serif;
}
.container{
    width: 90%;
    margin: 50px auto;
    background-color: cadetblue;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 0 0.1em 0.1em white;
}

.questionAnswer {
    background-color: #f2f2f2;
    box-shadow: 0 0 0.1em 0.1em dimgray;
    padding: 2em;
    margin: 1em 0 1em auto;
    border-radius: 5px;
}
.exams{
    background-color: cadetblue;
}

ul {
    list-style: none;
    padding: 0;
}

.answerList{
    margin: 1.2em auto;
}
#submit{
    width: 100%;
    margin: auto;
    padding: 1em;
    font-size: 1em;
    background-color: #5cb85c;
    box-shadow: 0 0 0.2em 0.1em dimgray;
    border-radius: 5px;
    border: none;
    transition: 250ms;
}
#submit:hover{
    box-shadow: 0 0 0.3em 0.1em green;

}