body{
    color: white;
}
.container{

    margin: 100px auto;
    height: 50vh;
    width: 30%;
    padding: 1em;
    background: cadetblue;
    box-shadow: 0 0 0.3em darkgreen;
    border-radius: 5px;
}
.login-page{
    padding: 1em;
}
form{
    padding: 1em;

}
.inputV{
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 2px;
    font-size: 1em;
    margin-bottom: 1em;
    padding: 0.5em;
}
#login{
    width: 100%;
    border: none;
    height: 30px;
    font-size: 0.76em;
    box-shadow: 0 0 0.2em royalblue;
    border-radius: 3px;
    transition: 300ms;
}
#login:hover{
    box-shadow: 0 0 0.2em 0.2em royalblue;
}