body{
    font-family: 'Rajdhani', sans-serif;
}
.contain{
    background-color: cadetblue;
    width: 90%;
    margin: 50px auto;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 0 0.1em 0.1em white;
}
textarea {
    resize: none;
    width: 100%;
    height: 10vh;
    margin: 5px auto 15px auto;
    border-radius: 5px;
    padding: 1em;
    box-shadow: 0 0 0.1em 0em white;
}

.radioBttn  {
    width: 200px;
    margin-left: 80%;
}


.answers {
    padding: 2em;
    width: 95%;
    margin: auto;
    border-radius: 7px;
    box-shadow: 0 0 0.1em 0.1em cadetblue;
}

.addQuestionBttn {
    background-color: #5cb85c;
    border-radius: 5px;
    width: 100%;
    border: none;
    padding: 1em;
    font-size: 1em;
    box-shadow: 0 0 0.1em 0.1em dimgray;
}
.answers .examInfo{
    border: 1px solid red;
    padding: 2em;
}
#datetime{
    padding: 1em;
    background: none;
    border: none;
    border-radius: 2px;
    font-size: 1em;
    box-shadow: 0 0 0.1em white;
}
#duration{
    padding: 1em;
    background: none;
    border: none;
    border-radius: 2px;
    font-size: 1em;
    box-shadow: 0 0 0.1em white;
}
form{
    background-color: cadetblue;
}